* {

    box-sizing: border-box;
}

:root {

    --container-padding: 10px
}

button {
    cursor: pointer;
}

body {

    display: flex;
    margin: 0;
    flex-direction: column;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}


.new-todo,
 .filter {
    padding: 15px var(--container-padding);
    background-color: lightsteelblue;
}


.todo-list {

    padding: var(--container-padding);
    list-style: none;
    flex-grow: 1;


}

.todo-list li {
    display: flex;
    gap: 5px;

    padding: 15px var(--container-padding);
    border-radius: 3px;
    cursor: pointer;

}

.todo-list li:nth-child(odd) {

    background-color: rgb(214, 203, 203);
}


.todo-list li span {

    flex-grow: 1;
}

h1.title {
    padding-inline: var(--container-padding);
}

.todo-details{

    border: 2px solid rgb(47, 45, 45);
}

.done {
    text-decoration: line-through;
}

footer {

    display: flex;
    gap: 10px;
    background-color: lightblue;
    padding: 15px var(--container-padding);
}